.services{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 90vh;
    margin-bottom: 8rem;
    margin-bottom: 13rem;
    margin-top: 9rem;
    gap: 2rem;
  

}

.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1;
    
 
}

.awesome > :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}

.awesome>:nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;

}
.awesome>:nth-child(3){
    color: var(--gray);
    font-size: 14px;
    margin-top: 1rem;
}

.s-button{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}

.blur{
    position: absolute;
    border-radius: 50%;
    filter: blur(72px);
    z-index: -9;
     /* background: #ABF1FF94;
    background: #C1F5FF; */
    /* top: 2rem; */
    width: 31rem;
    height: 18rem;
    /* left: 30%;  */
}

.s-blur1{
    top: 13rem;
    left: -18rem;
    background: var(--purple);
}
.s-blur2{
    /* left: 14rem; */
    left: 50rem;
    top: 2rem;
    background: var(--blue)
}
.cards{ 
  
    position: relative;
    
    flex: 1;
}

.cards>*{
    position: absolute;
}
