:root
{
  /* --yellow: #F5C32C; */
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    /* --purple: rgb(238 210 255); */
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --blue:  #C1F5FF;

    --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
    --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
    --pink: #FF919D;
    --glass: rgba(255, 255, 255, 0.54);
    --activeItem: #f799a354;
}

.App{
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: var(--black);    
}

.button{
  border-radius: 34px;
  border: none;
  padding: 11px 26px 11px 26px;
  color: white;
  font-size: 16px;
  background-image: linear-gradient(to right, rgb(245, 158, 45) , rgb(255, 196, 0));
  box-shadow: 0px 20px 24px 2px rgba(255, 166, 32, 0.42);

}

.button:hover{ 
  background: white;
  cursor: pointer;
  color: var(--orange);
  border: 1px solid var(--orange);
}


  @media screen and (max-width:480px){
    .App{
      padding : 0.5rem 1rem;
      /* background:rgb(255, 196, 0) */
    }
  }